<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="Nivax-007-0101343202002020-07" Publisher="CN=Naveed Shahid" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Mehndi Hub</DisplayName>
    <PublisherDisplayName>Ramez</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="mh.App">
      <VisualElements DisplayName="Mehndi Hub" Logo="Assets\Logo1.png" SmallLogo="Assets\30pxLogo.png" Description="Mehndi Hub, providing the best collection of Mehndi Designs." ForegroundText="light" BackgroundColor="#FFFFFF">
        <DefaultTile WideLogo="Assets\WideLogo.png" ShortName="Mehndi Hub" ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#FFFFFF" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
</Package>